.Tarefa{
    background-color: aquamarine;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 500px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botoes{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button{
    height: 50px;
    border-radius: 15px;
    opacity: 0.7;
    cursor: pointer;
}
button:hover{
    opacity: 1;
}

.concluir{
    background-color: greenyellow;
}
.deletar{
    background-color: red;
}